# Ignore all files in the .ipynb_checkpoints directory
.ipynb_checkpoints/**

# Ignore all files in the .DS_Store directory
.DS_Store/**
.DS_Store

# Ignore all files in the agent-env directory
./04-knowledge-base-agents/agent/streamlit/agent-env/**
./04-knowledge-base-agents/agent/streamlit/agent-env

# Ignore all files for the virtual environment
04-knowledge-base-agents/agent/streamlit/agent-env
04-knowledge-base-agents/agent/streamlit/agent-env/** */

04-knowledge-base-agents/agent/streamlit/__pycache__
04-knowledge-base-agents/agent/streamlit/__pycache__/**

# Ignore all files under "data" nested under any directory
data/**
data

# Ignore all files under "data" nested under any directory
pdf_data/**
pdf_data

# Ignore all files under "model_cache" nested under any directory
model_cache/**
model_cache

# Ignore all files under "matched_images" nested under any directory
matched_images/**
matched_images

# Ignore all files __pycache__ under any directory
__pycache__/**
__pycache__

# Ignore all files .DS_Store under any directory
.DS_Store/**
.DS_Store

# Ignore .env file under any directory
.env/**
.env

# Ignore .env file under any directory
05-multimodal-rag-with-colpali/hf_cache/**
05-multimodal-rag-with-colpali/hf_cache


