boto3>=1.26.0,
botocore>=1.29.0,
ollama>=0.4.8,
watchdog>=6.0.0,
pydantic>=2.0.0,
docstring_parser>=0.15,
mcp>=1.8.0,
colpali-engine>=0.3.10,
torch>=2.6.0,
tqdm>=4.67.1,
pymupdf>=1.25.5,
numpy>=2.2.5,
matplotlib>=3.10.3,
einops>=0.8.1,
seaborn>=0.13.2,
qdrant-client>=1.14.2,
pdf2image>=1.17.0,
python-dotenv>=1.1.0,
streamlit>=1.45.1,
streamlit-extras>=0.7.1,
ipywidgets>=8.1.7,
strands-agents>=0.1.2
strands-agents-tools>=0.1.1